.pagination-block {
  width: 600px;
  margin: 20px auto;
  text-align: right;
}

.pagination-block button {
  border-radius: 5px;
  margin-left: 10px;
}

body {
  background-color: black;
  color: white;
}

audio {
  position: absolute;
  right: -260px;
  top: 50px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}
